

.first-line { /*First Line est le parent pour le slider */
  display: flex; 
  gap: 10px; 
  margin-left: 10px;
}

.copy-container {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.counter-container{
  display: flex;
  font-size: 140%;
  flex-direction: column;
}

.toggle-container {
    display: flex;
}
