body{
  font-family: 'Poppins', sans-serif;
  padding: 30px;
  background-color: #f5f5f5;
  
}

.first-line {
  display: flex; 
  align-items: center; 
  justify-content: center;
  align-self: center;
  gap: 10px; 
  
}

.label-text {
  min-width: 85px; /* A Adapter selon la taille des mots*/ 
  display: inline-block;

  font-weight: bold;
  font-size: 125%;
}
